<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/add_product.css.twig') }}">
</head>
<body>
<h1>{{ app_name }}</h1>
<article class="add-product">
    <header class="add-product-header">
        <h3>Add Product</h3>
    </header>
    <section>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </section>
</article>
</body>
</html>