<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/Styles.css.twig') }}">
</head>
<body>
<h1>{{ app_name }}</h1>
<article class="top-container">
    <header class="container-header">
        <h3>Edit Product</h3>
    </header>
    <section>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </section>
</article>
</body>
</html>