<html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ asset('css/products.css') }}">
    <script src="{{ asset('js/jquery-3.3.1.js') }}"></script>
    <script src="{{ asset('js/products.js') }}"></script>
</head>
<body>
<form method="get" action="/Search">
    <input type="text" name="txtSearch" />
    <input type="submit" value="Search" />
</form>
{% for product in products %}
    <div class="product-container">
        <img class="product-image" src="{{ asset('uploads') ~ '/' ~ product.getPicURL() }}"/>
        <p class="id" hidden>{{ product.getId() }}</p>
        <p>{{ product.getName() }}</p>
        <p>TypeId: {{ product.getTypeId() }}</p>
        <p>Price: {{ product.getPrice() }}</p>
        <p>Description: {{ product.getDescription() }}</p>
        <p>Updated By: {{ product.getUpdatedBy }}</p>
        <p>Updated On: {{ product.getUpdatedOn().format('y:M:d:h:m:s') }}</p>
        <div>
            <button onclick="deleteProduct(this)">Delete</button>
            <button>Edit</button>
        </div>
    </div>
{% endfor %}
</body>
</html>